.assignment {
  width: 100%;
  gap: 2%;

  &-goal {
    width: 35%;
  }

  &-content {
    width: 63%;
  }

  &-detail {
    &__comment {
      overflow-y:scroll;
      max-height: 60vh;
    }
  }

  &__photo {
    &--1 {
      background: url("../images/emilywang.jpeg")center center no-repeat;
      background-size: cover;
    }

    &--2 {
      background: url("../images/andychen.jpeg") center center no-repeat;
      background-size: cover;
    }
  }

}

.ck-editor__editable {
  min-height: 250px;
}