@each $key, $value in $u-spacers {
  .u-p-#{$key} {
    padding: $value;
  }

  .u-px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }

  .u-py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }

  .u-ps-#{$key} {
    padding-left: $value;
  }

  .u-pb-#{$key} {
    padding-bottom: $value;
  }
}
