// Material Symbols icon
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
.no-fill {
  font-variation-settings: 'FILL' 0;
}
/*
助教建議改為<code>標籤，並用BS語法就好
.u-mark-tag {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: $success;
  background-color: $gray-100;
  vertical-align: baseline;
}*/

.u-text-gray-400 {
  color: $gray-400;
}

.u-bg-gray-400 {
  background-color: $gray-400;
}

.u-hover-white:hover {
  color: $white !important;
}

.u-bg-success {
  a:hover,
  &.active .page-link{
    background-color: $success;
    color: $white;
  }
}

.u-btn-outline-gray-400 {
  border: 1px solid $gray-400;
  &:hover {
    background-color: $gray-400;
  }
}

.u-fs-12 {
  font-size: 12px;
}
.u-fs-14 {
  font-size: 14px;
}

.u-p-12 {
  padding: 12px;
}
.u-py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.u-ps-12 {
  padding-left: 12px;
}

.u-mb-6 {
  margin-bottom: 6px;
}
.u-mb-18 {
  margin-bottom: 18px;
}

.u-user-photo-rounded {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
}
