$green:   #198754;
$red:     #dc3545;

$success: $green;
$danger: $red;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-400: #ced4da;
$gray-600: #6c757d;
$gray-900: #212529;
$black:    #000;

$u-spacer: 8px; 
$u-spacers: (
  1: $u-spacer,     // 8
  2: $u-spacer * 2, // 16
  3: $u-spacer * 3, // 24
  4: $u-spacer * 4, // 32
  5: $u-spacer * 5, // 40
);

// bs
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,   // 4
  2: $spacer * .5,    // 8
  3: $spacer,         // 16
  4: $spacer * 1.5,   // 24
  5: $spacer * 3,     // 48
);