.view-modal {
  
  &__img {
    background: url("../images/emir.jpeg") center center no-repeat;
    background-size: cover;
    min-width: 141px;
    height: 141px;
  }

  &__text {
    width: 300px;
  }

  &__btn {
    gap: 5%;
    &--1 {
      width: 55%;
    }

    &--2 {
      width: 40%;
    }
  }
}
